.l-img{
  background-image : url('../../../dist/img/book_pc.png');
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100vh;
  position:relative;
  @include mq(sm){
    background-image : url('../../../dist/img/book_sp.jpg');
  }
  &__title{
    color:#28c0ce;
    font-size:$font-size_5l;
    position:absolute;
    bottom:100px;
    left:100px;

  }
}