.l-skills{
  height:100vh;
  &__container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
  }
  &__txt{
    padding:$space_m $space_xl;
    font-size:$font-size_m;
    line-height:2;
  }
  &__block{
    width:calc(100% / 2 - 30px);
    margin-right:$space_3l;
    margin-bottom:$space_5l;
    height:100px;
    display:flex;
    &:nth-of-type(2n){
      margin-left:30px;
      margin-right:0;
    }
  }
  &__chartBox{
    margin-right:$space_l;
    max-width: 150px;
    min-width: 100px;
  }
  &__chart{
    padding: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    &--red{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,red 50%,red 100%);
    }
    &--blue{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,blue 50%,blue 100%);
    }
    &--green{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,green 50%,green 100%);
    }
    &--yellow{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,yellow 50%,yellow 100%);
    }
    &--skyblue{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,skyblue 50%,skyblue 100%);
    }
    &--purple{
      background:linear-gradient(90deg,#e5e5e5 0%,#e5e5e5 50%,purple 50%,purple 100%);
    }
    &--meter{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
      padding-left: 50%;
      box-sizing: border-box;
      background: linear-gradient(90deg,transparent 0%,transparent 50%,#f3f3f3 50%,#f3f3f3 100%);
    }
    &--value{
      content: "";
      position: absolute;
      border-radius: 50%;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size_m;
    }
  }
}
