/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm
   ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration)
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition)
   ========================================================================== */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms
   ========================================================================== */
/**
 * Reset form fields to make them styleable
 * 1. Reset radio and checkbox to preserve their look in iOS.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

[type="checkbox"] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type="radio"] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  /* 1 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Table
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Noto Sans', sans-serif; }

.l-img {
  background-image: url("../../../dist/img/book_pc.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  @media screen and (max-width: 576px) {
    .l-img {
      background-image: url("../../../dist/img/book_sp.jpg"); } }
  .l-img__title {
    color: #28c0ce;
    font-size: 50px;
    position: absolute;
    bottom: 100px;
    left: 100px; }

.l-profile {
  min-height: 100vh;
  background: #f4f4f4;
  box-shadow: 0px 0px 8px 2px #c8c8c8 inset; }
  .l-profile__title {
    margin-top: 100px;
    text-align: center; }
  .l-profile__txt {
    width: 70%;
    margin: 0 auto;
    line-height: 50px; }
    @media screen and (max-width: 576px) {
      .l-profile__txt {
        line-height: 40px; } }

.l-skills {
  min-height: 100vh; }
  .l-skills__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    @media screen and (max-width: 576px) {
      .l-skills__container {
        flex-direction: column; } }
  .l-skills__txt {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 2; }
    @media screen and (max-width: 576px) {
      .l-skills__txt {
        line-height: 1.3; } }
  .l-skills__block {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 50px;
    height: 100px;
    display: flex; }
    @media screen and (max-width: 576px) {
      .l-skills__block {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 5px;
        box-sizing: border-box; } }
    .l-skills__block:nth-of-type(2n) {
      margin-left: 30px;
      margin-right: 0; }
      @media screen and (max-width: 576px) {
        .l-skills__block:nth-of-type(2n) {
          margin: 0 0 20px 0; } }
  .l-skills__chartBox {
    margin-right: 15px;
    max-width: 150px;
    min-width: 100px; }
    @media screen and (max-width: 576px) {
      .l-skills__chartBox {
        width: 70px; } }
  .l-skills__chart {
    padding: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative; }
    .l-skills__chart--red {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, red 50%, red 100%); }
    .l-skills__chart--blue {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, blue 50%, blue 100%); }
    .l-skills__chart--green {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, green 50%, green 100%); }
    .l-skills__chart--yellow {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, yellow 50%, yellow 100%); }
    .l-skills__chart--skyblue {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, skyblue 50%, skyblue 100%); }
    .l-skills__chart--purple {
      background: linear-gradient(90deg, #e5e5e5 0%, #e5e5e5 50%, purple 50%, purple 100%); }
    .l-skills__chart--meter {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
      padding-left: 50%;
      box-sizing: border-box;
      background: linear-gradient(90deg, transparent 0%, transparent 50%, #f3f3f3 50%, #f3f3f3 100%); }
    .l-skills__chart--value {
      content: "";
      position: absolute;
      border-radius: 50%;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px; }

.l-portfolio {
  min-height: 100vh;
  background: #f4f4f4;
  box-shadow: 0px 0px 8px 2px #c8c8c8 inset; }
  .l-portfolio__container {
    display: flex; }
    @media screen and (max-width: 576px) {
      .l-portfolio__container {
        flex-direction: column; } }

.c-title {
  padding-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid darkgoldenrod; }
  @media screen and (max-width: 576px) {
    .c-title {
      padding-top: 80px;
      margin-bottom: 20px; } }

.p-detail {
  background: #f4f4f4; }
  .p-detail2 {
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 0px 8px 2px #c8c8c8 inset; }
  .p-detail__space {
    padding: 50px 0; }
  .p-detail__header {
    height: 80px; }
  .p-detail__title {
    text-align: center;
    padding: 20px;
    font-size: 30px; }
  .p-detail__group {
    padding: 0 30px;
    position: relative;
    min-height: 300px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 576px) {
      .p-detail__group {
        flex-direction: column; } }
  .p-detail__img {
    width: 300px; }
    @media screen and (max-width: 576px) {
      .p-detail__img {
        width: 100%; } }
    .p-detail__img--2 {
      position: absolute;
      left: 280px;
      top: 100px; }
      @media screen and (max-width: 576px) {
        .p-detail__img--2 {
          position: static; } }
    .p-detail__img--4 {
      position: absolute;
      top: 100px;
      right: 50px; }
      @media screen and (max-width: 576px) {
        .p-detail__img--4 {
          top: 0;
          left: 0; } }
    .p-detail__imgGroup {
      width: 65%; }
      @media screen and (max-width: 576px) {
        .p-detail__imgGroup {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative; } }
      @media screen and (max-width: 576px) {
        .p-detail__imgGroup2 {
          justify-content: space-between;
          flex-direction: row; } }
    .p-detail__img--responsive {
      width: 180px;
      position: absolute;
      right: 350px; }
      @media screen and (max-width: 576px) {
        .p-detail__img--responsive {
          position: relative;
          top: 0;
          left: 0;
          width: 150px; } }
      .p-detail__img--responsive2 {
        width: 180px;
        top: 10px;
        right: 150px; }
        @media screen and (max-width: 576px) {
          .p-detail__img--responsive2 {
            position: relative;
            top: 0;
            right: 0;
            width: 150px; } }
  .p-detail__txt {
    width: 35%;
    padding: 20px 0;
    line-height: 3; }
    @media screen and (max-width: 576px) {
      .p-detail__txt {
        width: 100%;
        text-align: center; } }
    .p-detail__txt2 {
      padding: 0 0 10px 0; }
  .p-detail__skill {
    display: block;
    text-align: center;
    font-size: 30px; }
  .p-detail__link {
    color: blue;
    text-decoration: underline; }

.p-top {
  padding: 15px 30px;
  height: 80px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: rgba(244, 244, 244, 0.8);
  box-sizing: border-box; }
  @media screen and (max-width: 576px) {
    .p-top {
      display: block; } }
  .p-top__title {
    font-size: 30px;
    text-align: center; }
  @media screen and (max-width: 576px) {
    .p-top__navi {
      width: 100vw;
      height: 100vh;
      z-index: 3;
      position: absolute;
      top: 0;
      right: -100%;
      transition: all .3s;
      background: #f4f4f4; }
      .p-top__navi.js-active {
        transition: all .3s;
        transform: translateX(-100%); } }
  .p-top__nav {
    display: flex; }
    @media screen and (max-width: 576px) {
      .p-top__nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; } }
    .p-top__navList {
      margin-right: 20px; }
      @media screen and (max-width: 576px) {
        .p-top__navList {
          display: flex;
          align-items: center;
          height: 25%;
          width: 100%; } }
    @media screen and (max-width: 576px) {
      .p-top__navLink {
        margin: 0 auto;
        font-size: 50px; } }
  .p-top__hamburger {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 4; }
    .p-top__hamburger span {
      background: black;
      width: 40px;
      height: 5px;
      display: block;
      position: absolute;
      left: 5px;
      transition: all .3s; }
      .p-top__hamburger span:nth-of-type(1) {
        top: 8px; }
      .p-top__hamburger span:nth-of-type(2) {
        top: 23px; }
      .p-top__hamburger span:nth-of-type(3) {
        top: 38px; }
    @media screen and (max-width: 576px) {
      .p-top__hamburger {
        display: block; } }
    .p-top__hamburger.js-active {
      position: fixed; }
      .p-top__hamburger.js-active span {
        transition: all .3s; }
        .p-top__hamburger.js-active span:nth-of-type(1) {
          transform: translateY(15px) rotate(-45deg); }
        .p-top__hamburger.js-active span:nth-of-type(2) {
          display: none; }
        .p-top__hamburger.js-active span:nth-of-type(3) {
          transform: translateY(-15px) rotate(45deg); }

.p-site {
  padding: 20px;
  width: 33%;
  margin-right: 10px;
  box-sizing: border-box; }
  @media screen and (max-width: 576px) {
    .p-site {
      width: 100%; } }
  .p-site:nth-last-of-type {
    margin-right: -10px; }
  .p-site__img {
    width: 100%;
    vertical-align: bottom; }
  .p-site__link {
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    display: block;
    color: blue; }

.u-container {
  max-width: 980px;
  margin: 0 auto; }
