.p-top{
  padding : $space_l $space_3l;
  height : 80px;
  line-height:60px;
  display:flex;
  justify-content : space-between;
  position:fixed;
  z-index:2;
  width:100%;
  background:rgba(244,244,244,0.8);
  &__title{
      font-size:$font-size_3l;
  }
  &__nav{
    display:flex;
    &List{
      margin-right:$space_xl;
    }
  }
}